.header {
  display: flex;
  height: 50px;

  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.header-logo {
  width: 150px;
  height: 100%;
}

.nav-menu {
  width: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-icons {
  display: flex;

  width: 100px;
  justify-content: space-around;
}

.header-button {
  background: transparent;
  border: 1px solid gray;
  height: 35px;
}

.user-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header-user-items {
  display: flex;
  align-items: center;

  width: 250px;
  justify-content: space-between;
}
.header-nav-menu {
  display: flex;
}

.main {
  background-color: #f5f8fa;
  height: 100vw;
  padding: 20px;
  display: flex;
}
.user-profile {
  background-color: white;
  border: 1px solid gray;
  width: 320px;
  height: 400px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.cover-photo {
  height: 150px;
}
.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  top: 100px;
  left: 105px;
}
.profile-text {
  margin-top: 70px;
  text-align: center;
}

.profile-add-button {
  background-color: #1abc9c;
  border: none;
  color: white;
  font-size: 15px;
  padding: 9px;
  width: 80%;
  border-radius: 10px;
}

.profile-article {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.user-numbers {
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin-top: 20px;
}
.user-numbers-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  color: #424242;
}
.article-card {
  width: 240px;
  border: 1px solid #9e9e9e;
  height: 280px;
  background-color: white;
  position: relative;
  margin-right: 20px;
}
.article-image {
  width: 100%;
  height: 70%;
}
.article-user-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.article-details {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}
.size-price {
  display: flex;
  flex-direction: column;
}
.article-price {
  font-size: 20px;
  font-weight: bold;
}
.article-title {
  position: absolute;
  top: 135px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1px;

  color: white;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
}

.add-article {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.add-article-title {
  color: #ad1457;
}

.add-article-input {
  padding: 5px;
  margin-bottom: 10px;
}
.add-article-button {
  width: 185px;
  padding: 8px;
  background-color: #ad1457;
  border: none;
  color: white;
}
